@model JoinPlan.Models.IndexViewModel
@{
    ViewBag.Title = User.IsInRole("admin") ? "Admin User" : "My Profile";
}

<h2>@ViewBag.Title</h2>
<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change my password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>
        @*<dt>External Logins:</dt>
            <dd>
                @Model.Logins.Count [
                @Html.ActionLink("Manage", "ManageLogins") ]
            </dd>*@
        @*
            Phone Numbers can used as a second factor of verification in a two-factor authentication system.

             See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                for details on setting up this ASP.NET application to support two-factor authentication using SMS.

             Uncomment the following block after you have set up two-factor authentication
        *@
        @* Disabled due to no SMS services connected *@
        @*<dt>Phone Number:</dt>
            <dd>
                @(Model.PhoneNumber ?? "None")
                @if (Model.PhoneNumber != null)
                {
                    <br />
                    <text>[&nbsp;&nbsp;@Html.ActionLink("Change", "AddPhoneNumber")&nbsp;&nbsp;]</text>
                    using (Html.BeginForm("RemovePhoneNumber", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <text>[&nbsp;&nbsp;<input type="submit" value="Remove" class="btn-link" />&nbsp;&nbsp;]</text>
                    }
                }
                else
                {
                    <text>[&nbsp;&nbsp;@Html.ActionLink("Add", "AddPhoneNumber")&nbsp;&nbsp;]</text>
                }
            </dd>*@

        @*<dt>Two-Factor Authentication:</dt>
            <dd>
                <p>
                    There are no two-factor authentication providers configured. See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                    for details on setting up this ASP.NET application to support two-factor authentication.
                </p>*@
        @*@if (Model.TwoFactor)
            {
                using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <text>Enabled
                    <input type="submit" value="Disable" class="btn btn-link" />
                    </text>
                }
            }
            else
            {
                using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <text>Disabled
                    <input type="submit" value="Enable" class="btn btn-link" />
                    </text>
                }
            }*@
        @*</dd>*@
    </dl>

    @if (User.IsInRole("member"))
    {
        <h4>My Trips</h4>
        <div class="row" id="my-trips">
            <div class="col-lg-12"><p>Loading my trips...</p></div>
        </div>
    }

    <br />

    @if (User.IsInRole("admin"))
    {
        <h4>Member List</h4>
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Last Login</th>
                    <th>
                </tr>
            </thead>
            <tbody id="users-tb"></tbody>
        </table>
    }

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/moment")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryajax")

    @if (User.IsInRole("member"))
    {
        <script type="text/javascript">
        $(function () {
            $.ajax({
                type: 'GET',
                url: '/api/Participations?participantEmail=@User.Identity.Name',
                success: function (result) {
                    if (result.length > 0) {

                        $("#my-trips").empty();
                        //var elemsList = [];
                        $.each(result, function (i, activity) {
                            try {
                                //console.log(activity.Name);
                                var cardHtml =
                                    `<div class="col-md-4" style="padding:1rem">
                                            <div class="card">
                                                <div class="card-img-top" style="height:170px">
                                                    <img style="width:100%; max-height:170px" src="${activity.ImageUrl}" alt="${activity.Name}">
                                                </div>
                                                <div class="card-body">
                                                    <h5>${activity.Name}</h5>
                                                    <i>${moment(activity.ActivityDateTime).format("YYYY-MM-DD hh:mm A")}</i>
                                                    <p style="text-overflow: ellipsis;white-space: nowrap;overflow: hidden;">${activity.Description}</p>
                                                    <p >${activity.Participations.length}/ ${activity.MaxParticipant} participants</p>
                                                    <a href="/Activity/Details/${activity.ActivityID}" class="btn btn-primary">View details</a>
                                                </div>
                                            </div>
                                        </div>`
                                //elemsList.push(cardHtml);
                                $("#my-trips").append(cardHtml);
                            } catch (err) {
                                console.log(err);
                            }
                        });

                    } else {
                        $("#my-trips").append(`<div class="col-lg-12"><p>No participated activities.</p></div>`);
                    }
                },
            });

            $.ajax({
                type: 'GET',
                url: '/api/Users',
                success: function (result) {
                    console.log(result);
                    $("#users-tb").empty();
                    $.each(result.users, function (i, user) {
                        var row = `
                            <tr>
                                <th>${user.DisplayName}</th>
                                <th>${user.Email}</th>
                                <th>${user.LastLogin}</th>
                            </tr>`
                        $("#users-tb").append(row);
                    });
                },
                error: function (err) {
                    alert(eval(err));
                }
            });
        });

        </script>
    }
    @if (User.IsInRole("admin"))
    {
        <script type="text/javascript">
            $(function () {

                $.ajax({
                    type: 'GET',
                    url: '/api/Users',
                    success: function (result) {
                        console.log(result);
                        $("#users-tb").empty();
                        $.each(result.users, function (i, user) {
                            var row = `
                                        <tr>
                                            <th>${user.DisplayName}</th>
                                            <td>${user.Email}</td>
                                            <td>${moment(user.LastLogin).fromNow()}</td>
                                            <td>
                                                <div style="cursor:pointer; color:red" onclick="deleteUser('${user.Email}')">
                                                    <i class="fa fa-trash" ></i>
                                                </div>
                                            </td>
                                        </tr>`
                            $("#users-tb").append(row);
                        });
                    },
                    error: function (err) {
                        alert(eval(err));
                    }
                });
            });
        </script>

        <script>
            function deleteUser(email) {
                $.ajax({
                    type: 'DELETE',
                    url: '/api/Users?email=' + email,
                    success: function (result) {
                        if (result.success) {
                            alert('Successfully removed user');
                            setTimeout(function () { location.reload() }, 500);
                        }
                    }
                })
            }
        </script>
    }

}